{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@bsm-shared": "./bsm-shared",
          "@store": "./bsm-shared/data/store",
          "@redux": "./bsm-shared/data/redux",
          "@helpers": "./bsm-shared/helpers"
        }
      }
    ],
    [
      "babel-plugin-styled-components", 
      {
        "ssr": true, 
        "displayName": true, 
        "preprocess": false 
      }
    ]
  ]
}