version: "3.7"
services:
  frontend:
    build:
      context: ../
      dockerfile: docker/Dockerfile
    container_name: frontend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - TESTING=testing
    depends_on:
      - selenium-hub
  selenium-hub:
    image: selenium/hub:3.14.0-krypton
    container_name: selenium-hub
    ports:
      - "4444:4444"
  chrome:
    image: selenium/node-chrome:3.14.0-krypton
    restart: unless-stopped
    depends_on:
      - selenium-hub
      - frontend
    environment:
      - HUB_HOST=selenium-hub
      - HUB_PORT=4444
